<p id="notice"><%= notice %></p>

<div class="container">
<h1 class="text-center">My Cocktails</h1>

<table class="table table-stripet">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>

      <th>Ingredients N.</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        <td><%= link_to 'Show', cocktail %></td>
        <td>TO DO</td>
        <td><%= link_to 'Edit', edit_cocktail_path(cocktail) %></td>
        <td><%= link_to 'Remove', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cocktail', new_cocktail_path %>
</div>
