<p id="notice"><%= notice %></p>

<% if @cocktail.cocktailbanner? %>
  <%= image_tag(@cocktail.cocktailbanner.url(:banner), {:class => "banner"}) %>
<% end %>



<div style="margin-top: 30px" class="container, text-center">
<h1><%= @cocktail.name  %></h1>
<%= link_to 'Remove cocktail', @cocktail, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div style="margin-top: 30px" class="container">
<div class="info-wrapper">

<div class="row">
  <div id="ingredient-table-col" class="col-xs-12 col-sm-6">
    <table class="table table-stripet">
        <thead>
          <tr>
            <th>Ingredients</th>
            <th>Description</th>

            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>

              <% @doses.each do |dose| %>
              <tr>
                <td><%= dose.ingredient.name %></td>
                <td><%= dose.description %></td>
                <th><%= link_to 'Edit description', edit_dose_path(dose)%></th>
                <th><%= link_to 'delete ingredient', dose_path(dose), method: :delete%></th>


              </tr>
              <% end %>

        </tbody>
      </table>
    </div>
    <div id="ingredient-form-col" class="col-xs-12 col-sm-6">
      <h5 class="text-center">New Ingredient for <%= @cocktail.name %></h5>

      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.error_notification %>
          <div class="form-inputs">
              <%= f.input :ingredient_id, :collection => @ingredients %>
              <%= f.input :description %>
              <%= f.hidden_field :cocktail_id, :value => @cocktail.id %>
          </div>
          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>
    </div>

<br>

</div>




</div>

</div>
